.person-details.card {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: unset;
}

.person-details .person-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.person-details .list-group-item {
  background-color: unset;
  border: unset;
}

.person-details .list-group-item .term {
  margin-right: 0.5rem;
}
